body{
	background-color: #e066ff;
}

.text {
	text-align: center;
	font-family: Arial;
}

article{
	width: 50%;
	position: center;
	padding: 10px 40px;
	margin: 10px 30px;
	margin-left: 340px;
	background-color: #eb99ff;
}
