body {
  margin: 0;
  font-family: Arial;
}

header {
  overflow: hidden;
  background-color: #191919;
  padding: 20px 10px;
}

header a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

header a.title {
  font-size: 25px;
  font-weight: bold;
}

.menu {
  float: right;
}

.menu ul li{
  float: left;
  list-style: none;
}

.menu ul li a{
  -webkit-transition:all .3s;
  -o-transition:all .3s;
  transition:all .3s;
}

.menu ul li .dropdown {
  position: absolute;
  width: 180px;
  background: #3d3c3c;
  z-index: 99;
  right: 0;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu ul li .dropdown li {
  float: left;
  display: block;
  margin-right: 0;
  text-align: right;
  margin-left: 0;
}

.menu ul li .dropdown li a {
  color: #ffffff;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: capitalize;
}

.menu ul li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.menu ul li .dropdown li a:hover {
  color: #e32879;
}

.menu ul li:hover>a {
  color: #e32879;
}

header a.active {
  color: #e32879;
}

.menu ul li .dropdown li a.active {
  color: #e32879;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }

  .menu {
    float: none;
  }

  .menu ul li{
    float: none;
  }

  .menu ul li .dropdown {
    right: 20px;
  }

  .menu ul li:hover .dropdown {
    right: 0px;
    top: 90px;
  }
}
